<!DOCTYPE HTML>
<HTML>

<HEAD>
  <TITLE>HELLO REDUX</TITLE>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</HEAD>

<BODY>
  <div id="app"><%- reactComponent -%></div>
  <script>
   var INITIAL_STATE=<%- initialState -%>
  </script>
  <script src="bundle.js"></script>
</BODY>

</HTML>